* {
    margin: 0;
}

section {
    display: grid;
}

article {
    display: flex;
    margin-bottom: 15px;
}

article div{
    padding: 50px;
    margin: 5px;
    background-color: aqua;
}

.a1 {
    flex-direction: row;
}

.a2 {
    flex-direction: row-reverse;
}

.a3 {
    flex-direction: column;
}

.a4 {
    flex-direction: column-reverse;
}

.a5 {
    flex-wrap: wrap;
}

.a6 {
    flex-wrap: wrap-reverse;
}

.a7 {
    flex-wrap: nowrap;
}

.a8 {
    justify-content: flex-start;
}

.a9 {
    justify-content: flex-end;
}

.a10 {
    justify-content: center;
}

.a11 {
    justify-content: space-between;
}

.a12 {
    justify-content: space-around;
}

.a13 {
    justify-content: space-evenly;
}